<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id = "content">
            <div id="container">
                    <form  id ='meetingCreate'>
                        <div>
                            <label>Meeting Title:
                                <input type="title" id="" autofocus placeholder="Title">
                            </label>
                        </div>
                        <div>
                            <label>Meeting Topic:
                                <input type="topic"  id="topic" placeholder="Topic">
                            </label>
                        </div>
                        <div>
                            <label>Date:
                                <input type="date"  id="date">
                            </label>
                        </div>
                        <div>
                            <label class="email">Time: 
                                    <input type="time" id="time>
                            </label>
                        </div>
                        
                        <div>
                            <label class= "notes" >Notes: 
                                <input type="text-area" name="notes" id="notes" placeholder="Notes">
                            </label>
                        </div>
                        <div>
                                <label class= "pass" >Documents url: 
                                    <input type="docs" name="docs" id="notes" placeholder="Document link url">
                                </label>
                            </div>
                        <input class="" type="submit" value="submit" >
                    </form>
</body>
</html>
