body{
    height: 100vh;
    width: 960px;
    background-color:yellow;
    margin: 0px auto;
    padding: 0px;
    border-radius: 5px;
}
#header{
    color: #003049;
    font-family: 'Wallpoet', cursive;
    text-align: center;
    font-size: 1.5em;
    margin: 10px;
}
#container{
    flex-direction: column;
    display:flex;
    width: 600px;
    margin: 0px auto;
    background-color: orange;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.0em;
    border: solid 3px #003049;
}
#container2{
    border: solid 3px #003049;
    flex-direction: column;
    display:flex;
    width: 400px;
    margin: 0px auto;
    background-color: orange;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.0em;
}
#content{
    font-size: 0.75;
    display: grid;
    justify-content: center;   
    color: #003049; 
}
#footer{
    bottom: 0px;
    text-align: center;
    margin: 0px auto;
    color: #003049;
}
#meetingCreate{

}
form{
    margin: 0px auto;
}
#upcoming{
    display: inline-block;
    background: yellow;
    border-radius: 5px;
    margin:10px;
}
#past{
    display: inline-block;
    background: yellow;
    border-radius: 5px;
    margin:10px;
}
#history{
    display: inline-block;
    background: yellow;
    height:300px;
    width: 175px;
    margin:10px;
}

nav{
    
    display: flex;
    justify-content: center;
}
ul{
    list-style: none;
    margin: 0px;   
}
li{
    margin-right: 20px;
    text-decoration: none;
    display: inline;
    justify-content: center;
    font-size: 0.85em;
}
a{
    color: #D62828;
    text-decoration: none;
    
}
label{
    font-size: 24px;
    float: right;
}
input{
    font-size: 0.65em;
    width: 200px;
    height: 2em;
    border-radius: 5px;
    margin: 10px;
    text-indent: 10px;  
}
#map {
    height: 370px;
}
.center{
    margin: 0px auto;
    text-align: center;
}
.inlineBlock{
    display:inline-block;
}
.block{
    display: block;
}
.forReg{
    display: flex;
    justify-content: space-evenly;
}
.red{
    color: red;
}
.black{
    color: #003049;
}
.font{
    font-family: "Times New Roman", Times, serif; 
}
td {
    border: 3px solid #003049;
    text-align: left;
}
table {
        border-collapse: collapse;
}
.smlTxt{
    font-size: 0.7em;
}
.mdTxt{
    font-size: 1.5;
}
h1{
    margin: 0px;
}
.loginbtn{
    font-size: 0.66em;
    margin-top: 10px;
}
.pass{
    margin-bottom: 10px;
}